name: Process compat.json into readable patch.yml

on:
  push:
    paths:
      - '.github/workflows/compat2patch.yml'
  schedule:
    - cron: '* * * * *'
  workflow_dispatch:

jobs:
  build:
    if: |
      github.repository == 'illusion0001/rpcs3-game-patch' &&
      github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Check for update
        run: |
          compatibility_json=compatibility.json
          original_sha256=$(jq -r .sha256 $compatibility_json)
          curl -sSfLo $compatibility_json "https://rpcs3.net/compatibility?patch&api=v1&v=1.2"
          min_size_bytes = 10000 # 10 Kilobytes
          if [ $(stat -c %s $compatibility_json) -le $min_size_bytes ]; then 
            echo "::error::$compatibility_json is too small."
            exit 1
          fi
          if [ $original_sha256 != $(jq -r .sha256 $compatibility_json) ]; then
            jq -r .patch $compatibility_json > patch.yml
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config user.name "github-actions[bot]"
            git add patch.yml $compatibility_json
            time=$(date '+%Y-%m-%d %H:%M:%S %A (%Z %z)')
            msg="Update patch from remote - \`${time}\`"
            echo "$msg"
            git commit -vvm "$msg"
            git push -v origin
          else
            echo "Up-to-date!"
          fi
